<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    $("#headers").load("layout/header.html");  // 원하는 파일 경로를 삽입하면 된다
    $("#footers").load("layout/footer.html");  // 원하는 파일 경로를 삽입하면 된다
  });
</script>

<body>
  <div id="headers"></div>
  <div class="container">
    <div class="card m-2">
      <div class="card-body">
        <h4 class="card-title">제목</h4>
        <p class="card-text">내용</p>
        <a href="#" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card m-2">
      <div class="card-body">
        <h4 class="card-title">제목</h4>
        <p class="card-text">내용</p>
        <a href="#" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="card m-2">
      <div class="card-body">
        <h4 class="card-title">제목</h4>
        <p class="card-text">내용</p>
        <a href="#" class="btn btn-primary">상세보기</a>
      </div>
    </div>
  </div>
  <div id="footers"></div>
</body>